body{
    width: 50%; 
    margin: 0 auto; 
    border: 20px solid #bdc3c7;
    font-family: 'Source Sans Pro', sans-serif;

}

h2{
    font-weight: 700;
    text-transform: capitalize;
    color: #2c3e50;
    font-size: 25px;
}

h3{
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-size: 15px;
}

.article{
    padding: 20px; 
}

.FirstParagraph{
    border-left: 5px solid #bdc3c7;
    padding-left: 5px;
}

hr {
    border: 0;
    width: 90%;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

p{
    font-weight:400;
}

